<!-- new.erb -->
<html>
<div class="container">
  <h1>Flash Card Game</h1>
  <% if @error %>
    <%= @error %>
  <% end %>

  <form  class="signin" action='/sessions' method="POST" >
    <ul>
      <li class="list">
        <input class="user_input" type="text" name="user[email]" placeholder="Email"/>
      </li>
      <li><br>
      </li>
      <li class="list">
        <input class="user_input" type="password" name="user[password]" placeholder="Password"/>
      </li>
      <li><br>
      </li>
      <li>
        <div class="submit"><input type="submit" value="Log in" /> </div>
      </li>
    </ul>
  </form>
  <form id="newuser"  action='/users/new' method="GET">
    <input type="submit" value="NEW USER">
  </form>
</div>
</html>
