<!-- new.erb -->
<div class="container">
  <h1>Flash Card Game Log In</h1>
  <% if @error %>
    <%= @error %>
  <% end %>

  <form action='/sessions' method="POST" >
    <ul>
      <li>
        <label for="user_email">Email</label>
        <input id="user_email" type="text" name="user[email]"/>
      </li>
      <li>
        <label for="user_password">Password</label>
        <input id="user_password" type="password" name="user[password]"/>
      </li>
      <li>
        <input type="submit" value="Log in" />
      </li>
    </ul>
  </form>
  <form action='/users/new' method="GET">
    <input type="submit" value="NEW USER">
   </form>
</div>
