html {
  background-image: url("http://cdn.shopify.com/s/files/1/0067/8732/products/LapDeskOld01_1024x1024.jpg?v=1317846011");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  padding-top: 15%;

}


.container {
  margin: 150px auto;
  width: 30%;
  padding: 0px 20px 20px 20px;
/*  border: 1px dotted black;*/
  background-image: url("http://farm1.staticflickr.com/55/147874576_8a453079f3_z.jpg");
  font-family: sans-serif;
  height: 300px;
}
/*th {
  text-align: left;
}*/

h1 {
  text-align: center;
/*  border-bottom: 1px solid black;*/
/*  margin-bottom: 10%;*/
/*  padding-bottom: 10%;*/
  margin-top: -25px;
}

h3{
  text-align: center;
}

.signin {
/*  border: 1px solid black;*/
  width: 30%;
  margin: auto;
}

#newuser {
  margin-top: 4%;
  text-align: center;
  color: green;
}

ul {
  list-style: none;
}


.submit {
  text-align: center;
}

input {
  margin: auto;
}

li {
  margin-left: -40%;
}

.user_input{
  height: 20px;
}

.deck_list {
  text-align: center;
  margin-left: 20%;
}

.logout {
/*  margin: auto;*/
  margin-top: 3%;
  margin-left: 85%;
  display: inline-block;
}

.card_guess {
  margin-left: 30%;
  margin-top: 30%;
}

.guess_submit {
  float: right;
  margin-top: -8%;
  margin-right: 50%;
}

.question {
  font-size: 4em;
  text-align: center;
  padding-top: 20%;
}

#stats {
  margin-top: 2%;
}

.stat_box {
  border: 1px solid black;
  margin-left: 85%;
  margin-right: 5%;
  padding-top: 15%;
}

#session_correctness {
  margin-left: 44%;
  font-size: 3em;
  color: white;
}





