<div class="container">
  <h1>Create a new account</h1>
  <% if @error %>
    <%= @error %>
  <% end %>
  <form  class="signin" action='/users' method="POST" >
    <ul>
      <li>
        <input class="user_input" type="text" name="user[name]" placeholder="Name"/>
      </li>
      <li><br>
      </li>
      <li>
        <input class="user_input" type="text" name="user[email]" placeholder="Email"/>
      </li>
      <li><br>
      </li>
      <li>
        <input class="user_input" type="password" name="user[password]" placeholder="Password"/>
      </li>
      <li><br>
      </li>
      <li>
        <input type="submit" value="Create Account" />
      </li>
    </ul>
  </form>
</div>
