<html>
<div class="container">
  <p>These are Stats!!</p>
  <form class="card_guess" action='/show' method="POST" >
    <ul>
      <li>

        <input id="user_guess" type="text" name="user[guess]" placeholder="Guess"/>
      </li>
      <ul>
    </form>

</div>
</html>

