<html>
  <div id="session_correctness"> <%=session[:message]%> </div>
<div class="container">
  <p class="question"><%= @card.question %></p>
  <form class= "card_guess" action='/decks/<%= @deck_id %>/cards/<%= @card.id %>' method="POST" >

      <input id="user_guess" type="text" name="user_input"/>
      <input type="submit" value="Submit">
   </form>
</div>
</html>

<!-- # show question where card id = num_counter
# make the num_counter go up
# -->
