<div class="container">
  <%=session[:message]%>
  <p><%= @card.question %></p>
  <form action='/decks/<%= @deck_id %>/cards/<%= @card.id %>' method="POST" >

        <label for="guess">Guess</label>
        <input id="user_guess" type="text" name="user_input"/>



      <input type="submit" value="Submit">
   </form>

</div>

<!-- # show question where card id = num_counter
# make the num_counter go up
# -->
